<html>
<marquee> <h1 style="color:#DBF8EE;">Update Your Record</h1></marquee>
<body style="background-color: #0A80FE;">
	<center>
		<form th:action="@{/admin/updateschool}" method="post">
			<table>
				<input type="hidden" name="id" th:value="${schoolinfo.id}">
				<tr>
					<td>First Name:*</td>
					<td><input type="text" name="firstName"
						th:value="${schoolinfo.firstName}"></td>
				</tr>
				<tr>
					<td>LastName:*</td>
					<td><input type="text" name="lastName"
						th:value="${schoolinfo.lastName}"></td>
				</tr>
				<tr>
					<td>Email:*</td>
					<td><input type="text" name="email"
						th:value="${schoolinfo.email}"></td>
				</tr>
				<tr>
					<td>Mobile No:*</td>
					<td><input type="text" name="mobNo"
						th:value="${schoolinfo.mobNo}"></td>
				</tr>
				<tr>
					<td><input type="radio" name="male"
						th:value="${schoolinfo.gender}">   <label>Male</label>
					<td><input type="radio" name="female"
						th:value="${schoolinfo.gender}">   <label>Female</label></td>
				</tr>
				<tr>
					<td><label>Date Of Birth:*</label> <input type="date"
						name="dob" th:value="${schoolinfo.dob}"></td>
				</tr>
				<tr>
					<td><label> Religion:*</label> <select name="religion">
							<option name="hindu">Hindu</option>
							<option name="muslim">Muslim</option>
					</select></td>
				</tr>
				<tr>
					<td><label>Language:*</label> <select name="language">
							<option value="hindi">Hindi</option>
							<option value="english">English</option>
					</select></td>
				</tr>
				<tr>
					<td>Address:*</td>
				</tr>
				<tr>
				    <td><input type="text" placeholder="Address" name="address"> </td>
				    <td><input type="text" placeholder="Landmark" name="landmark"> </td>
				</tr>
				<tr> 
				    <td><input type="text" placeholder="City" name="city"> </td>
				    <td><input type="text" placeholder="Region" name="region"> </td>
				</tr>
				<tr>
				    <td><input type="text" placeholder="PinCode" name="pincode"> </td>
				    <td><input type="text" placeholder="Country" name="country"> </td>
				</tr>
				<tr>
				   <td>Family Information:*</td>
				</tr>
				<tr>
				   <td>Father Name:*</td>
				</tr>
				<tr>
				   <td><input type="text" placeholder="First Name" name="ffirstName"> </td>
				   <td><input type="text" placeholder="Last Name" name="flastName"> </td>
				</tr>
				<tr>
				   <td>Mother Name:*</td>
				</tr>
				<tr>
				  <td><input type="text" placeholder="First Name" name="mfirstName"> </td>
				  <td><input type="text" placeholder="Last Name" name="mlastName"> </td>
				</tr>
				<td><input type="submit" value="submit"></td>
			</table>
		</form>
	</center>
</body>

</html>