<html>
<body>
<center>
	<form action="saveschool" method="post">
		<table>
			<tr>
				<td>First Name</td>
				<td><input type="text" placeholder="First Name" name="firstName"></td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td><input type="text" placeholder="LastName" name="lastName"></td>
			</tr>
			<tr>
			  <td>Email</td>
			  <td> <input type="text" placeholder="Email" name="email"></td>
			</tr>
			<tr>
			  <td>Mobile No</td>
			  <td><input type="text" placeholder="Mobile No" name="mobNo"> </td>
			</tr>
			<td><input type="submit" value="submit"> </td>
		</table>
	</form>
	</center>
</body>
</html>